@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

body {
    font-size: 18px;
}

/* Trusted Company */
.trst i {
    font-size: 127px;
    color: #A8A8A8;
}

/* Company quality */
.lotus-quality {
    list-style: none;
}

.box-shd{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.11);
}

.icon-bg {
    font-size: 30px;
    background-color: #c8c8c854;
    border-radius: 21px;
    width: 56px;
    height: 48px
}

.call-to-act {
    font-size: 40px;
    font: 900;
}

/** Swiper JS Begins **/
.swiper {
    height: 350px;
    width: 100%;
}
/** Swiper Ends **/


/* * New Arrival Section *
.new-arrival-carousel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 2.5rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    overflow: hidden;
} */

.slider-item{
    height: 280px !important;
    width: 250px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.slide-img{
    height: 300px;
    position:relative;    
}

.slide-img > img{
    height: 200px;
    width: 200px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    object-position: center;
}

.product-overlay{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-btn{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #141618;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fffcfc;
    color: #141618 ;
    cursor: pointer;
    letter-spacing: 1px;
}

.view-btn:hover{
    color:#FFFFFF;
    background-color: transparent;
    border: 1px solid #fffcfc;
    transition: all ease 0.3s;
}

.detail-box {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.detail-box > span {
    font-size: 1.2rem;
}

/* Mobile App Section */
.dnd {
    font-weight: 500;
    font-size: 2.5rem;
    width: 354px;
    text-align: left;
    line-height: 1.2;
}