<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calleta - Register</title>

    <!-- External CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css">

    <link rel="stylesheet" href="./assets/css/auth.css">
</head>
<body>
    <section class="auth-style">
        <div class="auth-style__header">
            <img src="./assets/img/logo.png" class="img-fluid" alt="">
            <h1><i>Welcome to <span class="text-success">Calleta</span></i></h1>
        </div>
        <form action="" method="post" class="mb-3" id="signup">
            <div class="row">
                <div class="form-field mb-3 col-6">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control shadow-sm" id="fname" placeholder="First Name">
                    <small></small>
                </div>
                <div class="form-field mb-3 col-6">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control shadow-sm" id="lname" placeholder="Last Name">
                    <small></small>
                </div>
            </div>
            <div class="form-field mb-3">
                <label for="emailAddress" class="form-label">Email address</label>
                <input type="email" class="form-control shadow-sm" id="emailAddress" placeholder="name@example.com">
                <small></small>
            </div>
            <div class="row">
                <div class="form-field mb-3 col-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control shadow-sm" id="password" placeholder="Password">
                    <small></small>
                </div>
                <div class="form-field mb-3 col-6">
                    <label for="passwordConfirm" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control shadow-sm" id="passwordConfirm" placeholder="Confirm Password">
                    <small></small>
                </div>
            </div>
            <div class="form-field mb-3">
                <label for="phone" class="form-label d-block">Mobile Phone</label>
                <input id="phone" class="form-control shadow-sm" name="phone" type="tel">
                <small></small>
            </div>

            <div class="form-field text-center">
                <button class="btn btn-lg btn-success text-center align-self-center shadow p-" type="submit">Sign Up</button>
            </div>
        </form>
        <small>Already a <i class="text-success">shopper</i>? <a class="link-success text-decoration-none" href="#">Login Now</a></small>
    </section>
    <footer class="bg-light">
        <h3>Made with love &#128151; by <i><a class="link-success text-decoration-none" href="https://github.com/Onyekachukwu-Nweke">Onyekachukwu Ejiofor Nweke</a></i></h3>
        <span>&copy; Copyright 2023 Calleta</span>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>
<script>
var input = document.querySelector("#phone");
window.intlTelInput(input, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
});
</script>
<script src="./js/formValidation.js"></script>
</html>