* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
  }
  
  .navbar {
    margin-bottom: 40px;
  }
  
  .card {
    text-align: center;
  }
  
  .card-body {
    padding: 30px;
  }
  